.loading {
  font-size: 6rem;
  color: white;
  font-weight: 100;
  font-style: italic;
  text-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.245);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: rgb(39, 39, 39);
  padding: 0.4rem;
  padding-bottom: 1rem;
  width: auto;
  max-width: 85%;
  color: white;
  text-align: center;
}

.textContainer {
  width: 100%;
  max-width: 500px;
  display: block;
}

figure {
  max-width: 70%;
  max-height: 70%;
}

figcaption {
  margin-right: 1rem;
  font-weight: 500;
  font-style: italic;
  text-shadow: -1px 1px 2px black;
}

.text {
  font-size: 1.2rem;
  font-weight: 200;
  display: block;
  margin-top: 1rem !important;
  text-align: start;
  line-height: 2rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  .container {
    min-width: 100vw;
    min-height: 100vh;
  }

  .textContainer {
    max-width: 70%;
  }
}
